{% extends '_base.html' %}

{% block page_title %}لیست کتاب ها{% endblock %}

{% block context %}
    {% for book in books %}
        <h1>{{ book.title }}</h1>

    {% endfor %}

{% endblock %}
{#<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">#}
{#<html lang="en">#}
{#<head>#}
{#    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">#}
{#    <title>Document</title>#}
{#</head>#}
{#<body>#}
{#    {% for book in books %}#}
{#        <h1>{{ book.title }}</h1>#}
{##}
{#    {% endfor %}#}
{##}
{#</body>#}
{#</html>#}